[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
mypy = "*"

[packages]
requests = "*"
python-dateutil = "*"
beautifulsoup4 = "*"
pony = "*"
psycopg2 = "*"

[requires]
python_version = "3.8"

[scripts]
mypy = "mypy ."
